<div class="container mt-5">
  <div class="row">
    <div class="col-5">
      <h2>Product List</h2>

    </div>
    <div class="col-6">
      <div class="row">

        <div class="col-6">
          <button type="button" class="btn btn-primary p-4"  [routerLink]="['/listing/listingAdd']" ><i class="bi bi-plus-lg"></i><span class="h3"> Add New Product</span></button>
        </div>
      </div>

    </div>
  </div>
  <div  class="row ">

    <ul *ngFor="let product of ProductListArray0"  class="col-2 card m-3 p-3 list-group">
      <li class="row">

        <img style="height: 150px;" src={{product.image}} alt="cfedef">
        <!-- <img style="height: 150px;" src="../../assets/image/delivery.PNG" alt="cfedef"> -->

        <div class="text-center">

          {{product.Name}}
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-primary"  (click)="editProduct(product.ID)"><i class="bi bi-pencil-fill"></i></button>
          <button type="button" class="mt-2 btn btn-primary"  (click)="deleteProduct(product.ID)"><i class="bi bi-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
</div>
